table {
    width: 100%;
    padding: 10px;
    text-align: left
  }
  
  tr.example-detail-row {
    height: 0;
  }

  .mat-elevation-z8 {
    box-shadow: 0 0px 0px 0px rgba(0,0,0,.2), 0 0 0px 0px rgba(0,0,0,.14), 0 0px 0px 0px rgba(0,0,0,.12);
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  